/* css styles */
#title-block-header {
  background-image: url("images/top_image.png");
  background-position: center top;
  background-size: cover;
  
  min-height: 210px;
}

.quarto-title-banner { background: none };

.quarto-title-meta {
    background: #FFF;
    opacity: 70%;
    border-radius: 9px 9px 0 0;
    padding: 0 10px;
}